<h1>Simple App - <%= @titre %></h1>
<p>
  <a href="http://railstutorial.org/">Le Tutoriel Ruby on Rails</a>
  est un projet de livre et de screencasts pour apprendre le developpement web
  avec <a href="http://rubyonrails.org/">Ruby on Rails</a>. Ceci
  est l'Application Exemple du tutoriel.
</p>