<header>
  <%= image_tag("logo.png", :alt => "Application exemple", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", about_path %></li>
      <li><%= link_to "Aide", help_path %></li>
      <li><%= link_to "Connexion", signin %></li>
    </ul>
  </nav>
</header>